/01_lesson
/ak
/bluetooth_content_share.html
/Books & Slides
/bootcamp
/Control Panel.lnk
/desktop.ini
/Figma.lnk
/Football.jpg
/Git Bash.lnk
/GitHub Desktop.lnk
/My first code
/personal project python
/PowerPoint.lnk
/PRESIDOO 1.pdf
/Project-herosection.zip
/PyCharm Community Edition 2024.3.1.1.lnk
/python.exe
/Visual Studio Code.lnk
/WebCatalog.lnk
/webteam
/Word.lnk