.adinkra{
    width: 200px;
    height: 200px
}

.half-details{
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.15) ;
    height: 100px;
    width: 200px;
    margin-left: 1.px;
    margin-top: -4px;    
}


.name,.condition{
    padding-left: 7px;
}

.name{
  font-weight: bold;
  padding-top: 12px;
}

.condition{
    color: gray;
    padding-left: 35px;
}

.add{
    margin-left: 7px;
    height: 30px;
    width: 100px;
    margin-top: 7px;
    background-color: blue;
    border: none;
    color: white;
    padding-left: 1px;
    border-radius: 10px;
}


.full-details{
    display: inline-block;
    margin-left: 12px;
}

.dp{
    width: 30px;
    border-radius: 20px;
    margin-top: -20px;
    vertical-align: top;
}
