.nav-container{
  background-color: #1e14e9;}
nav{display: flex; 
  width: 90%;
  background-color: slategray;
  margin:0 auto;
  justify-content:space-between; 
   align-items:center;
}
ul{
  display: flex;
  gap:20px;
    }
li{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: azure;}
    
button{
  background-color: orange;
  outline:none ;
  padding: 7px 5px;
  border:none;
}
