.youtube{
    background-color: rgb(54, 54, 54);
    height: 150px;
}

.install,.music{
    color: white;
}

.music{
    color: gray;
    display: block;
    font-size: 15px;
    margin-top: 12px;
    padding-left: 12px;
}

.install{
    padding-left: 12px;
    padding-top: 12px;
    font-weight: bold;
    font-size: 18px;
}

